<body>
<h1>Stock Management</h1>
<ul id="UL">
  <li id="L"><a href="#">Product Management</a></li>
  <li id="L"><a href="#">Purchase Management</a></li>
  <li id="L"><a href="#">Report</a></li>
  <li id="L"><a href="#">Conduct</a></li>
  <button id="Log"><a href="#">Log Out</a></button>
</ul>
<br>
<h2>Product Management</h2>
<div class="form">
  <input type="text" placeholder="Enter Product Name..." class="name">
  <input type="number" placeholder="Ender product Quantity..." class="quant">
  <input type="number" placeholder="Enter Product price..." class="price">
  <br><br>
  <button onclick="add()" class="button">Add</button>
  {{title}}
</div>
<br><br>
<table class="list">
  <tr class="heading">
    <th>NAME</th>
    <th>QUANTITY</th>
    <th>PRICE</th>
  </tr>
  
</table>
</body>
